@model AddressBook.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Contact</h1>

@* address card *@


<div class="glass-jm-style darkGlass p-2">
    <div class="row">
        <div class="col-12 col-md-8">
            @* <img class="img-fluid" src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)"/> *@
        </div>
        <div class="col-12 col-md-8">
            <div class="row gy-2">
                <div class="col-12 col-md-6">
                    <label for="FirstName" class="form-label" value="First Name"></label>
                    <input type="text" readonly class="form-control" id="FirstName" value="@Model.FirstName"/>
                </div>
                <div class="col-12 col-md-6">
                    <label for="LastName" class="form-label" value="Last Name"></label>
                    <input type="text" readonly class="form-control" id="LastName" value="@Model.LastName"/>
                </div>
                <div class="col-12 col-md-6">
                    <label for="Email" class="form-label" value="Email"></label>
                    <input type="email" readonly class="form-control" id="Email" value="@Model.Email"/>
                </div>
                <div class="col-12 col-md-6">
                    <label for="Phone" class="form-label">Phone</label>
                    <input type="tel" readonly class="form-control" id="Phone" value="@Model.PhoneNumber"/>
                </div>
                <div class="col-12 ">
                    <label for="Address1 " class="form-label">Address</label>
                    <input type="text" readonly class="form-control" id="Address1" value="@Model.Address1"/>
                </div>
                <div class="col-12">
                    <label for="Address2 " class="form-label">Address</label>
                    <input type="text" readonly class="form-control" id="Address2" value="@Model.Address2"/>
                </div>
                <div class="col-12 col-md-6">
                    <label for="City" class="form-label">City</label>
                    <input type="text" readonly class="form-control" id="City" value="@Model.City"/>
                </div>
                <div class="col-12 col-md-4">
                    <label for="State" class="form-label">State</label>
                    <input type="text" readonly class="form-control" id="State" value="@Model.State"/>
                </div>
                <div class="col-12 col-md-2">
                    <label for="Zip" class="form-label">Zip</label>
                    <input type="text" readonly class="form-control" id="Zip" value="@Model.Zip"/>
                </div>
                <div class="col-6">
                    <label for="Birthday" class="form-label">Birthday</label>
                    <input type="text" readonly class="form-control" id="Birthday" value="@Model.Birthday"/>
                </div>
                <div class="col-12">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-check form-switch form-check-inline">
                            <input type="checkbox" readonly class="form-check-input" id="Categories" value="@category.Id"/>
                            <label for="CategoryList" class="form-check-label">Categories</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>